<h2>Ingrese Producto</h2>
<form action="/products" method="post">
    <h4>Nombre</h4>
    <input name="title">
    <br>
    <h4>Precio</h4>
    <input name="price">
    <br>
    <h4>Foto URL</h4>
    <input name="thumbnail">
    <br>
    <input type="submit">
<br>
</form>

<a href="/products" class="btn btn-success">Ver productos</a>
